spring:
  config:
    activate:
      on-profile: default
  main:
    allow-bean-definition-overriding: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  application:
    name: delivery-service

---
# Development profile (H2)
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:deliverydb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        temp:
          use_jdbc_metadata_defaults: false

---
# QA profile (PostgreSQL)
spring:
  config:
    activate:
      on-profile: qa
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:delivery_qa}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

# Liquibase configuration
liquibase:
  change-log: classpath:db/changelog/db.changelog-master.xml
  default-schema: public
  enabled: true
  user: ${DB_USER:postgres}
  password: ${DB_PASSWORD:postgres}
  url: ${spring.datasource.url}
  driver: ${spring.datasource.driver-class-name}
  contexts: qa
